<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPXtractor</title>
    <link rel="stylesheet" href="../css/disks.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <div id="disk-list" class="list style-1">
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
                <button class="button" id="sda1">sda1</button>
                <button class="button" id="sda2">sda2</button>
                <button class="button" id="sdb1">sdb1</button>
                <button class="button" id="sdb2">sdb2</button>
            </div>
        </div>
    </div>
    <script src="../js/disks.js"></script>
</body>
</html>
