<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPXtractor</title>
    <link rel="stylesheet" href="../css/disks.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <h2>Available Disks</h2>
            <div id="disk-list" class="list style-1"></div>
        </div>   
    </div>
    </div>
    <script src="../js/disks.js"></script>
</body>
</html>
