<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPXtractor</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="grid">
                <button class="button" id="explore">Explore Files</button>
                <button class="button" id="recover">Recover Files</button>
                <button class="button" id="system">System Info</button>
                <button class="button" id="settings">Settings</button>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>
