<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/settings.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Upload to drive coming soon!!</h1>
            <button id="back-button" class="btn">Back</button>
        </div>
    </div>
    <script src="../js/settings.js"></script>
</body>
</html>
